[Unit]
Description=Rust LinuxGSM watchdog (update + oxide + restart)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rustserver
Group=rustserver
WorkingDirectory=/home/rustserver/rust-linuxgsm-watchdog

# // alt method below for those not using the .venv
# ExecStart=/usr/bin/python3 /home/rustserver/rust-linuxgsm-watchdog/rust_watchdog.py --config /home/rustserver/rust-linuxgsm-watchdog/rust_watchdog.json

ExecStart=/home/rustserver/rust-linuxgsm-watchdog/.venv/bin/python /home/rustserver/rust-linuxgsm-watchdog/rust_watchdog.py --config /home/rustserver/rust-linuxgsm-watchdog/rust_watchdog.json
Restart=always
RestartSec=5
KillMode=process

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
